.about-hero {
  background-image: url(../assets/backgrounds/Shiny-Overlay.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30rem;
  text-align: center;
  padding: 8rem 2rem 5rem;
  color: white;
}

.about-hero h1 {
  font-size: 4.2rem;
  font-weight: 600;
  margin: 2rem;
}

.about-hero p {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
}

.about-container {
  max-width: 110rem;
  margin: auto;
  padding: 4rem 2rem 8rem;
}

.about-section {
  margin-bottom: 6rem;
}

.about-section h2 {
  font-size: 2.8rem;
  margin: 3rem 0;
  padding-left: 1.2rem;
}

.about-section p {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 15px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.about-card {
  font-size: 1.6rem;
  background: var(--background-light);
  padding: 3rem;
  border-left: 3px solid var(--accent-colour);
  margin-bottom: 2rem;
}

.values-grid {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.value {
  font-size: 1.6rem;
  padding: 2rem;
  background: var(--background-light);
  border-left: 3px solid var(--accent-colour);
}

.value h4 {
  margin-bottom: 8px;
}

.profile{
  width: 10rem;
  height: 10rem;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 1rem;
}

.team-member {
  padding: 25px;
  background: rgba(255,255,255,0.03);
}

.team-member h3{
  font-size: 1.6rem;
}

.role {
  color: var(--accent-colour);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.contact, .email{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--accent-colour);
  margin-top: 1rem;
}

.contact a, .email a{
  color: var(--accent-colour);
  text-decoration: none;
}

.contact a:hover, .email a:hover{
  text-decoration: underline;
}

