.contact-container {
  display: flex;
  gap: 4rem;
  padding: 6rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 2.5rem;
  border-radius: 1.6rem;
}

.contact-left h2{
    text-align: left;
}

.contact-detail{
    display: flex;
    align-items: flex-start;
    gap: 1rem;

}

.contact-heading{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-detail span{
    font-size: 2rem;
}

.contact-heading h3{
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.1rem;
    
}

.contact-left .detail-block .label {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--typography-colour);
  margin-bottom: 1rem;
}

.contact-left .detail-block .value {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--typography-colour);
  padding: 2rem 0;
}

.value .contact-detail{
    margin-bottom: 0.5rem;
}

.value a{
    color: var(--accent-colour-hover);
    text-decoration: none;
}

.value a:hover{
    text-decoration: underline;
}

/* Right Column (Form) */
.contact-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--background-colour);
}

.contact-inputs-holder {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

/* Form Title */
.contact-right-title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.contact-right-title hr {
  width: 5rem;
  height: 0.35rem;
  border: none;
  background: var(--accent-colour);
  margin: 0 auto;
}

.contact-right-title p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--typography-colour);
  opacity: 0.8;
}

/* Inputs */
.contact-inputs {
  width: 100%;
  padding: 1.2rem;
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  border: 1.5px solid rgb(211, 210, 210);
  color: var(--typography-colour);
  outline: none;
  border-radius: 1rem;
  transition: 150ms ease;
  background-color: var(--background-colour);
}

.contact-inputs::placeholder{
    color: var(--typography-colour);
    opacity: 0.7;
}

.contact-inputs:hover{
    border: 1.5px solid var(--accent-colour-hover);
}

.contact-inputs:focus {
  border: 1.5px solid var(--accent-colour);
  color: var(--typography-colour);

}

textarea.contact-inputs {
  min-height: 14rem;
  resize: none;
}

.select-line {
  -webkit-appearance: none;
  appearance: none;
  background: var(--background-colour)
    url("data:image/svg+xml;utf8,<svg fill='black' height='16' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M4 6l4 4 4-4z'/></svg>")
    no-repeat right 0 center;
  padding-right: 2.4rem;
  cursor: pointer;
  color: var(--typography-colour);
  
}

.select-line:focus {
  border: 1.5px solid var(--accent-colour);
  color: var(--typography-colour);
}

.select-line option {
  color: var(--typography-colour);
  background: var(--background-colour-loght);
  font-size: 1.6rem;
}

/* Submit Button */
button[type="submit"] {
  width: fit-content;
  padding: 1.6rem 2rem;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  background-color: var(--accent-colour);
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

button[type="submit"]:hover {
  background-color: var(--accent-colour-hover);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.17);
  transform: translateY(-0.2rem);
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    gap: 3rem;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contact-left,
  .contact-right {
    padding: 2rem 1.6rem;
  }

  .contact-right-title h2 {
    font-size: 2rem;
  }
}
