.footer {
  color: var(--typography-colour);
  padding: 3rem 8%;
  border-top: 1.5px solid var(--accent-colour);
}

.logo{
  width: 10rem;
  height: auto;
}

.footer-container {
  width: 100%;
}

.footer-top {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr 1fr;
  gap: 4rem;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-brand h2 {
  font-size: 22px;
  letter-spacing: 1px;
}

.footer-tagline {
  color: var(--accent-colour);
  margin: 8px 0;
  font-weight: 500;
}

.footer-founder {
  font-size: 14px;
  opacity: 0.8;
}

.footer-contact h4,
.footer-services h4,
.footer-social h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--typography-colour);
}

.footer-contact p, .footer-contact a{
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  text-decoration: none;
  color: var(--typography-colour);
}

.footer-contact a:hover{
  color: var(--accent-colour);
}

.footer-services ul {
  list-style: none;
  padding: 0;
}

.footer-services li {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.footer-services li:hover {
  color: var(--accent-colour);
  cursor: pointer;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-icons a {
  text-decoration: none;
  color: var(--typography-colour);
  font-size: 2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--accent-colour);
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: var(--typography-colour);
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--accent-colour);
}

.footer-links span {
  opacity: 0.4;
}