.notfound {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6rem 2rem;
  background: var(--background-colour);
  color: var(--text-colour);
  z-index: 101;
}

.notfound-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  width: 100%;
}

/* LEFT SIDE */
.notfound-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.notfound-label {
  font-size: 1.8rem;
  opacity: 0.7;
}

.notfound-heading {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 600;
  max-width: 500px;
}

.notfound-subtext {
  font-size: 1.6rem;
  opacity: 0.7;
  max-width: 450px;
}

.notfound-actions {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.btn-primary {
  padding: 1.2rem 2.4rem;
  border-radius: 999px;
  background-color: var(--typography-colour);
  color: var(--background-colour);
  text-decoration: none;
  font-size: 1.4rem;
}

.btn-secondary {
  padding: 1.2rem 2.4rem;
  border-radius: 999px;
  border: 1px solid var(--typography-colour);
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--typography-colour);
}

.notfound-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.notfound-image {
  width: 100%;
  max-width: 320px;
  height: auto;
  object-fit: contain;
  opacity: 0.2;
}

.notfound-image {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .notfound-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }

  .notfound-heading {
    font-size: 2.6rem;
  }

  .notfound-actions {
    justify-content: center;
  }

  .notfound-image{
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 480px) {
  .notfound-graphic {
    width: 15rem;
    height: 15rem;
  }
}
