.service-detail {
  padding: 6rem 2rem;
}

.service-detail-container {
  max-width: 80rem;
  margin: 0 auto;
}

.service-detail h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.service-detail p {
  font-size: 1.6rem;
  line-height: 1.7;
  opacity: 0.8;
}

.service-intro {
  font-size: 1.6rem;
  margin-bottom: 8rem;
}

.service-description {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.service-detail h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: left;
}

.service-block {
  margin-bottom: 8rem;
}

.service-block ul {
  padding-left: 2rem;
}

.service-block li {
  font-size: 1.6rem;
  line-height: 1.6;
  opacity: 0.8;
}

.back-link {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 3rem;
  color: var(--accent-colour-hover);
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .service-block {
    margin-bottom: 6rem;
  }

  .service-block li,
  .service-detail p {
    font-size: 1.4rem;
    line-height: 1.8;
  }
}
