.services-section {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.services-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  justify-items: stretch;
}

.service-card {
  font-family: var(--primary-font);
  height: 100%;
  background: var(--background-colour);
  color: var(--typography-colour);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 3rem 2rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(102, 101, 101, 0.258);
  transition: all 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  color: var(--accent-colour);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.284);
}

.service-card:hover.service-card .material-symbols-outlined {
  color: var(--accent-colour);
}

.service-card .material-symbols-outlined {
  font-size: 3rem;
  color: var(--typography-colour);
  display: block;
  margin-bottom: 2rem;
}

.service-card h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.service-card p {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (max-width: 1200px) {
  .services-holder {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .services-holder {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .service-card p {
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .services-holder {
    gap: 2rem;
  }

  .service-card {
    border-radius: 1rem;
    padding: 2rem;
  }
}
