.services-section {
  width: 100%;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
}

.services-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  justify-items: stretch; 
}

.service-card {
  height: 100%;
  background: var(--background-colour);
  color: var(--typography-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25rem;
  padding: 3rem 2rem;
  text-align: center;
  border: 1px solid var(--background-light);
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.277);
  transition: border-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  color: var(--accent-colour);
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.296);
  border: 1px solid var(--accent-colour-hover);
}

.service-card:hover.service-card .material-symbols-outlined{
    color: var(--accent-colour);
}

.service-card .material-symbols-outlined {
  font-size: 3rem;
  color: var(--typography-colour);  
  display: block;         
  margin-bottom: 2rem; 
}

.service-card h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.service-card p {
  font-size: 1.5rem;
  line-height: 2rem;
}


@media screen and (max-width: 1200px) {
  .services-holder {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .services-holder {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}