
.theme-btn{
  height: 2rem;
  width: 2rem;
  background-color: var(--background-colour);
  border: 2px solid var(--background-light);
  color: var(--typography-colour);
  border-radius: 50%;
  padding: 1.5rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.theme-btn span{
  font-size: 2rem;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.theme-btn:focus{
  border: 2px solid var(--background-light);
}

.theme-btn:hover.theme-btn span{
  opacity: 1;
}
