:root {
  --primary-colour: #cacaca;
  --accent-colour: #3960ad;
  --accent-colour-hover: #346bd9;
  --accent-colour-transparent: #346bd934;
  --background-colour: rgb(245, 245, 245);
  --background-light: rgb(255, 255, 255);
  --typography-colour: #333d47;
  --typography-colour-light: rgba(176, 176, 176, 0.77);

  --primary-font: "Lato", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
  --tertiary-font: "Source Sans 3", sans-serif;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-colour: #cacaca;
    --accent-colour: #3960ad;
    --background-colour: rgb(29, 28, 32);
    --background-colour-light: rgb(45, 44, 50);
    --typography-colour: #e0e0e0;
  }
}

[data-theme="light"] {
  --primary-colour: #cacaca;
  --accent-colour: #3960ad;
  --background-colour: rgb(245, 245, 245);
  --background-light: rgb(255, 255, 255);
  --typography-colour: #333d47;
}
[data-theme="dark"] {
  --primary-colour: #cacaca;
  --accent-colour: #3960ad;
  --background-colour: rgb(29, 28, 32);
  --background-light: rgb(45, 44, 50);
  --typography-colour: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}*/

body {
  background-color: var(--background-colour);
  color: var(--typography-colour);
  width: 100%;
  margin: 0;
}

h1 {
  font-family: var(--primary-font);
  font-size: 4.2em;
  line-height: 5rem;
  font-weight: 300;
}

h2 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
}
h3 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

h4 {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3.5em;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  h3 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
